@charset "UTF-8";

@font-face {
    font-family: 'Sigokae';
    src: url(/fontes/Sigokae\Demo.otf) format('opentype');
}

:root {
    --cor-1: #161822;
    --cor-2: #0d1d3d;
    --cor-3: #1b4965;
    --cor-4: #a9b2bb;
    --cor-5: #86733d;
    /*Fonte Sigokae - variante 'Demo'*/
    --fonte-tema: 'Sigokae Demo';
    --fonte-sec: 'Segoe ui';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fira Code", monospace;
    color: var(--cor-4);
    background: linear-gradient(#222533, #161822);
    height: 100vh;
}

header {
    width: 100vw;
    text-align: center;
    display: block;
    background-color: var(--cor-1);
}

header>h1 {

    font-size: clamp(2.4rem, 7vw, 3.5rem);
    color: var(--cor-5);
    font-family: var(--fonte-tema);
    padding: 5px;
}

nav.navegador {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    
}

.navegador>a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: var(--cor-4);
    transition: opacity .2s;
}

.navegador>a:hover {
    opacity: 50%;
}

article.card-principal {
    border: 1px solid red;
    justify-content: center;
    border-radius: 20px;
    margin: 2%;
    padding: 2%;
    width: 95%;
    background: linear-gradient(#161822, #222533);
}

div.barra-procura {
    border: 1px solid rgb(194, 40, 199);
    height: 5%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 5px;
}

div>input {    
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div>input#txtproc {
    width: 200px;
}

div>input#btn-proc {
    transition: opacity .2s;
}

div>input#btn-proc:hover {
    opacity: 50%;
}

div.previsao-principal {
    border: 1px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


div.icon-prev#info-principal {
    background-color: aliceblue;
}

footer.rodape {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape a {
    text-decoration: none;
    color: var(--cor-5);
    transition: color;
    transition: opacity .2s;
}

.rodape a:hover {
    opacity: 70%;
}