@chaset "UTF-8";

@font-face {
    font-family: 'Sigokae';
    src: url(/fontes/Sigokae\Demo.otf) format('opentype');
}

:root {
    --cor-1: #161822;
    --cor-2: #0d1d3d;
    --cor-3: #1b4965;
    --cor-4: #a9b2bb;
    --cor-5: #86733d;
    /*Fonte Sigokae - variante 'Demo'*/
    --fonte-tema: 'Sigokae Demo';
    --fonte-sec: 'Segoe ui';
}

* {
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--cor-1);
    color: var(--cor-4);
}

header {
    border: solid 1px red;

    text-align: center;
    display: block;
    justify-content: space-between;
}

header>h1 {
    border: solid 1px red;

    font-size: 2.5em;
    color: var(--cor-5);
    font-family: var(--fonte-tema);
    padding: 5px;
}

nav.navegador {
    border: solid 1px red;

    display: flex;
    justify-content: space-around;
}

.navegador>a {
    text-decoration: none;
    color: inherit;
}

/*header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px red;
    padding: 2%;
}

h1 {
    font-family: var(--fonte-tema);
    padding: 5px;
    border: solid 1px red;
}

div.cabecalho {
    display: flex;
    width: 30%;
    justify-content: space-around;
    border: solid 1px red;
    padding: 5px;
    font-family: var(--fonte-sec);
}*/