@charset "UTF-8";

@font-face {
    font-family: 'Sigokae';
    src: url(/fontes/Sigokae\Demo.otf) format('opentype');
}

:root {
    --cor-1: #161822;
    --cor-2: #0d1d3d;
    --cor-3: #1b4965;
    --cor-4: #a9b2bb;
    --cor-5: #86733d;
    /*Fonte Sigokae - variante 'Demo'*/
    --fonte-tema: 'Sigokae Demo';
    --fonte-sec: 'Segoe ui';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Fira Code", monospace;
    color: var(--cor-4);
    background: linear-gradient(#222533, #161822);
    height: 95vh;
}

header {
    width: 100vw;
    text-align: center;
    display: block;
    background-color: var(--cor-1);
}

header>h1 {

    font-size: clamp(2.4rem, 7vw, 3.5rem);
    color: var(--cor-5);
    font-family: var(--fonte-tema);
    padding: 5px;
}

nav.navegador {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    
}

.navegador>a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: var(--cor-4);
    transition: opacity .2s;
}

.navegador>a:hover {
    opacity: 50%;
}

main {
    display: flex;
    border: 1px solid red;
    padding: 5px;
    justify-content: center;
    align-items: center;
    
}
    article.container {
    border: 1px solid blue;
    border-radius: 20px;
    margin: 2%;
    padding: 2%;
    display: flex;
    width: 95%;
    height: 70vh;

}

footer.rodape {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    border: 1px solid green;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}